@import "tailwindcss";

/* src/index.css ou App.css */
.bg-app {
  background-image: 
    radial-gradient(circle at top, rgba(75, 0, 130, 0.6), transparent 50%),
    linear-gradient(135deg, #0d0d26 0%, #2d1b64 100%);
  background-blend-mode: screen;
}

@keyframes apper {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.aper {
  animation: appper 5s linear;
}